<div id="of">
    <div class="row mt-2">
        <div class="col-md-6 pb-5 pr-5">
            <img class="w-75 mx-auto d-block rounded mt-5" src="../../assets/Images/8.jpg" alt="loginImage">
        </div>
        <div class="col-md-6">
            <h1 class="text-secondary text-center display-4 m-5 f"><b>Log<span class="text-light">in</span></b></h1>
            <form #formRef=ngForm (ngSubmit)="onSubmit(formRef.value)">
                <div class="form-floating m-5 w-50 d-block mx-auto">
                    <input ngModel type="text" required name="username" class="form-control bg-darker text-light border-bottom border-light" autocomplete="false" id="floatingInputGrid1">
                    <label for="floatingInputGrid1" class="text-light"><h6>Username / Email</h6></label>
                </div>
                <div class="form-floating m-5 w-50 d-block mx-auto">
                    <input ngModel type="password" required name="password" class="form-control bg-darker text-light border-bottom border-light" autocomplete="false" id="floatingInputGrid2">
                    <label for="floatingInputGrid2"  class="text-light"><h6>Password</h6></label>
                </div>
                <button type="submit" class="btn btn-outline-light d-block mx-auto my-5 w-50 p-3 rounded-pill"><b>Login</b></button>
                <p class="text-secondary text-center mt-4">New to TechShare ?  <a [routerLink]="['/register']" class="text-light"><b>Register</b></a></p>
            </form>
        </div>
    </div>
</div>