<div id="of">
    <div class="row mt-2">
        <div class="col-md-6 text-secondary p-5">
            <h1 class="text-end display-4 mt-5"><b>Artificial</b></h1>
            <h1 class="text-end display-4 mb-5"><b><span class="text-light">Intelligence</span></b></h1>
            <h5 class="text-secondary text-end f">Artificial intelligence (AI) is wide-ranging branch <br>of computer science concerned with building smart machines<br> capable of performing tasks that typically require human intelligence.</h5>
        </div>
        <div class="col-md-6 p-5">
            <img class="img-fluid rounded w-100 me-5" src="../../assets/Images/2.jpg" alt="">
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-md-6 p-5">
            <img class="img-fluid rounded float-end w-100" src="../../assets/Images/4.jpg" alt="">
        </div>
        <div class="col-md-6 text-secondary p-5">
            <h1 class="text-start display-4"><b>Web Application</b></h1>
            <h1 class="text-start display-4 mb-5"><b><span class="text-light">Development</span></b></h1>
            <h5 class="text-secondary f">Web application development is the creation of application programs that reside on remote servers and are delivered to the user’s device over the Internet. A web application (web app) does not need to be downloaded and is instead accessed through a network.</h5>
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-md-6 text-secondary p-5">
            <h1 class="text-end display-4"><b>Game</b></h1>
            <h1 class="text-end display-4 mb-5"><b><span class="text-light">Designing</span></b></h1>
            <h5 class="text-secondary text-end f">Game design is an exciting, rewarding and multi-faceted<br> field with promising job prospects. However, becoming<br> a game designer can be a challenging journey. <br>Passion, patience, and persistence are essential!</h5>
        </div>
        <div class="col-md-6 p-5">
            <img class="img-fluid rounded w-100 me-5" src="../../assets/Images/3.jpg" alt="">
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-md-6 p-5">
            <img class="img-fluid rounded float-end w-100" src="../../assets/Images/1.jpg" alt="">
        </div>
        <div class="col-md-6 text-secondary p-5">
            <h1 class="text-start display-4"><b>Cyber</b></h1>
            <h1 class="text-start display-4 mb-5"><b><span class="text-light">Security</span></b></h1>
            <h5 class="text-secondary f">Cyber security refers to the body of technologies, processes, and practices designed to protect networks, devices, programs, and data from attack, damage, or unauthorized access. Cyber security may also be referred to as information technology security.</h5>
        </div>
    </div>
    <div class="row mx-5">
        <div class="col-md-6 text-secondary p-5">
            <h1 class="text-end display-4"><b>Data</b></h1>
            <h1 class="text-end display-4 mb-5"><b><span class="text-light">Analytics</span></b></h1>
            <h5 class="text-secondary text-end f">Data analytics is the science of analyzing raw data in order to make conclusions about that information. Many of the techniques and processes of data analytics have been automated into mechanical processes and algorithmsthat work over raw data for human consumption.</h5>
        </div>
        <div class="col-md-6 p-5">
            <img class="img-fluid rounded w-100" src="../../assets/Images/5.jpg" alt="">
        </div>
    </div>
</div>