<div id="of">
    <form [formGroup]="formRef" (ngSubmit)="onSubmit(formRef.value)">
        <div class="row">
            <div class="col-md-6">
                <img class="w-75 mx-auto d-block rounded mt-5" src="../../assets/Images/7.jpg" alt="loginImage">
            </div>
            <div class="col-md-6 ps-2 pe-5 pt-5">
                <h1 class="text-secondary text-center display-4 m-5 f"><b>Reg<span class="text-light">ister</span></b></h1>
                <div class="row py-2">
                    <div class="col-md-6 form-group form-floating m-0 px-4 py-2">
                        <input [class.is-invalid]="firstName.invalid && firstName.touched" type="text" formControlName="firstName" class="form-control bg-darker text-light border-bottom border-light w-100" id="floatingInputGrid1">
                        <label for="floatingInputGrid1" class="text-light ms-3"><h6>First Name</h6></label>
                        <div class="text-danger invalid-feedback" *ngIf="firstName.errors && (firstName.touched||firstName.dirty)">
                            <small class="valid-text" *ngIf="firstName.errors.required">First Name is required</small>
                        </div>
                    </div>
                    <div class="col-md-6 form-group form-floating m-0 px-4 py-2">
                        <input [class.is-invalid]="lastName.invalid && lastName.touched" type="text" formControlName="lastName" class="form-control bg-darker text-light border-bottom border-light w-100" id="floatingInputGrid2">
                        <label for="floatingInputGrid2" class="text-light ms-3"><h6>Last Name</h6></label>
                        <div class="text-danger invalid-feedback" *ngIf="lastName.errors && (lastName.touched||lastName.dirty)">
                            <small class="valid-text" *ngIf="lastName.errors.required">Last Name is required</small>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6 form-group form-floating m-0 px-4 py-2">
                        <input [class.is-invalid]="username.invalid && username.touched" type="text" formControlName="username" class="form-control bg-darker text-light border-bottom border-light w-100" id="floatingInputGrid3">
                        <label for="floatingInputGrid3" class="text-light ms-3"><h6>Username</h6></label>
                        <div class="text-danger invalid-feedback" *ngIf="username.errors && (username.touched||username.dirty)">
                            <small class="valid-text" *ngIf="username.errors.required">Username is required</small>
                            <small class="valid-text" *ngIf="username.errors?.maxlength">Username must contain 1-10 characters</small>
                        </div>
                    </div>
                    <div class="col-md-6 form-group form-floating m-0 px-4 py-2">
                        <input [class.is-invalid]="emailId.invalid && emailId.touched" type="email" formControlName="emailId" class="form-control bg-darker text-light border-bottom border-light w-100" id="floatingInputGrid4">
                        <label for="floatingInputGrid4" class="text-light ms-3"><h6>Email</h6></label>
                        <div class="text-danger invalid-feedback" *ngIf="emailId.errors && (emailId.touched||emailId.dirty)">
                            <small class="valid-text" *ngIf="emailId.errors.required">Email is required</small>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6 form-group form-floating m-0 px-4 py-2">
                        <input [class.is-invalid]="mobile.invalid && mobile.touched" type="tel" pattern="[0-9]{10}" formControlName="mobile" class="form-control bg-darker text-light border-bottom border-light w-100" id="floatingInputGrid5">
                        <label for="floatingInputGrid5" class="text-light ms-3"><h6>Mobile</h6></label>
                        <div class="text-danger invalid-feedback" *ngIf="mobile.errors && (mobile.touched||mobile.dirty)">
                            <small class="valid-text" *ngIf="mobile.errors.required">Mobile Number is required</small>
                            <small class="valid-text" *ngIf="mobile.errors.pattern">Enter valid Mobileile Number</small>
                        </div>
                    </div>
                    <div class="col-md-6 form-group form-floating m-0 px-4 py-2">
                        <input [class.is-invalid]="school.invalid && school.touched" type="text" formControlName="school" class="form-control bg-darker text-light border-bottom border-light w-100" id="floatingInputGrid6">
                        <label for="floatingInputGrid6" class="text-light ms-3"><h6>University / School</h6></label>
                        <div class="text-danger invalid-feedback" *ngIf="school.errors && (school.touched||school.dirty)">
                            <small class="valid-text" *ngIf="school.errors.required">School / University Name is required.</small>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6 form-group form-floating m-0 px-4 py-2">
                        <input [class.is-invalid]="password.invalid && password.touched" type="password" formControlName="password" class="form-control bg-darker text-light border-bottom border-light w-100" id="floatingInputGrid7">
                        <label for="floatingInputGrid7" class="text-light ms-3"><h6>Password</h6></label>
                        <div class="text-danger invalid-feedback" *ngIf="firstName.errors && (password.touched||password.dirty)">
                            <small class="valid-text" *ngIf="password.errors.required">Password is required</small>
                            <small class="valid-text" *ngIf="password.errors?.minlength">Password must contain atleast 6 characters</small>
                        </div>
                    </div>
                    <div class="col-md-6 form-group form-floating m-0 px-4 py-2">
                        <input [class.is-invalid]="cpassword.invalid && cpassword.touched" type="password" formControlName="cpassword" class="form-control bg-darker text-light border-bottom border-light w-100" id="floatingInputGrid8">
                        <label for="floatingInputGrid8" class="text-light ms-3"><h6>Confirm Password</h6></label>
                        <div class="text-danger invalid-feedback" *ngIf="cpassword.errors && (cpassword.touched||cpassword.dirty)">
                            <small class="valid-text" *ngIf="cpassword.errors.required">Confirm your password</small>
                            <small class="valid-text" *ngIf="cpassword.errors.areMatched">Both passwords must match</small>
                        </div>
                    </div>
                </div>
                <div class="row px-4 py-4 mb-4">
                    <div class="col-1 form-group p-0">
                        <input [class.is-invalid]="acceptTerms.invalid && acceptTerms.touched" type="checkbox" formControlName="acceptTerms" class="form-check-input ms-auto" id="ip9">
                    </div>
                    <div class="col-11 form-group p-0">
                        <label [class.text-danger]="acceptTerms.invalid && acceptTerms.touched" [class.text-light]="!(acceptTerms.invalid && acceptTerms.touched)" class="form-check-label ms-0" for="ip9">By creating an account you agree to our Terms & Privacy.</label>
                    </div>
                </div>
                <div class="form-group mt-4 pt-4">
                    <p class="valid-text text-danger text-center" *ngIf="submitStatus && formRef.invalid">Enter all the required fields</p>
                    <button type="submit" class="btn btn-outline-light btn-animate d-block mx-auto mb-5 w-50 p-3 rounded-pill"><b>Submit</b></button>
                </div>
                <p class="text-secondary text-center mt-4">Alredy on TechShare ?  <a [routerLink]="['/login']" class="text-light"><b>Login</b></a></p>
            </div>
        </div>
    </form>
</div>